<page-header title="会议报名"></page-header>
<nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="2" labelWidth="200">
        <se label="姓名" error="必填项" required>
            <input nz-input placeholder="姓名" formControlName="signUpName" />
        </se>
        <se label="性别" error="必填项" required>
          <nz-radio-group formControlName="signUpSex">
              <label nz-radio nzValue="男">男</label>
              <label nz-radio nzValue="女">女</label>
          </nz-radio-group>
        </se>
        <se label="工作单位" error="必填项" required>
            <input nz-input formControlName="signUpLoction" />
        </se>
        <se label="手机号码" error="必填项" required>
            <input nz-input formControlName="signUpNumber" />
        </se>
        <se label="职务" error="必填项" required>
            <input nz-input formControlName="signUpPost" />
        </se>
        <se label="抵达方式">
            <input nz-input placeholder="" formControlName="signUpDidafangshi" />
        </se>
        <se label="抵达时间">
          <nz-date-picker formControlName="signUpDidashijian"></nz-date-picker>
        </se>
        <se label="离会时间">
            <nz-date-picker formControlName="signUpLihuishijian"></nz-date-picker>
        </se>
        <se label="离会方式">
            <input nz-input placeholder="" formControlName="signUpLihuifangshi" />
        </se>
        <se label="备注">
            <input nz-input placeholder="" formControlName="signUpRemark" />
        </se>
        <se>
            <button nz-button nzType="primary"type="submit" [nzLoading]="submitting">报名</button>
            <!-- <button nz-button class="ml-sm">保存</button> -->
        </se> 
    </form>
</nz-card>